extends layout

block content
 div.container
  div(class="panel-default panel")
   div.panel-heading Recipes
   div(class="panel-body")
    table(class="table table-hover", data-bind="recipes")
     thead
      th(data-bind="Name") Recipe
      th(data-bind="Description") Description
      th(data-bind="NumIngredients") Number of ingredients
     tbody
      tr

  div(class="panel-default panel")
   div.panel-heading Ingredients
   div(class="panel-body")
    table(class="table table-hover", data-bind="ingredients")
     thead
      th(data-bind="Name") Ingredient
      th(data-bind="Number") Amount In Stock
     tbody
      tr

 script.
  $( document ).ready(function () {
   $.getJSON("/recipes/list").done(function (json) {
    //alert("done");
    PopulateTable(json, "recipes");
    console.log("populating...");
    //console.log(json);
   }).fail(function (jqxhr, textStatus, error) {
    var error = textStatus + ": " + error;
    alert(error);
   });

   $.getJSON("/ingredients/list").done(function (json) {
    //alert("done");
    PopulateTable(json, "ingredients");
    console.log("populating...");
    //console.log(json);
   }).fail(function (jqxhr, textStatus, error) {
    var error = textStatus + ": " + error;
    alert(error);
   });
  });
